@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 254, 239;
    --background-start-rgb: 15, 15, 15;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-semibold;
}

h4 {
  @apply text-lg font-semibold;
}

code.inline {
  @apply rounded p-1 px-2 bg-slate-800 text-sm dark:bg-slate-800 transition-all;
}

table {
  @apply border-collapse my-4;
}
tr {
  @apply border-b border-slate-500 hover:backdrop-brightness-200;
}
td,
th {
  @apply p-2 text-center;
}
thead tr {
  @apply bg-slate-800;
}
thead tr th {
  @apply font-medium;
}
